<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Jobra, <%= @user.name %></h1>
    <p>
        This is just a friendly reminder for you to update your cards in our application.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>